/*global css*/

body {	font: medium  Arial, Verdana, Helvetica, sans-serif;
		margin: 10px 90px 50px 90px;
		background-color: white;	
}

h1, h2, h3, h4 	{font: Helvetica;
}

a:hover, a:link, a:visited	{	text-decoration:none;
								border: none;
}

a:link, a:hover	{	color: 	#B8860B;
}

a:visited 	{color: #8B4513;
}

em	{	font-weight: bold;
	}

#header {	border-bottom: dashed gray;
			padding-bottom: 10px;
			
 }
#header h1 	{	font: xx-large 2px;
		margin: 1px; 
		}
		
#navbar {	font: x-small;
			padding-bottom: 10px;
			text-align: center;
			}

ul	{list-style-type: none;
	padding: 0;
	margin:0;
	}
	
/*end global css*/

/*main page*/

#newissue { background-color: #ffd700;
			padding: 15px;
			float: left;
			width: 355px;
			}
			
#about	{border: black solid;}


#newsblog, #about {	background-color: white;
			margin-left: 410px;
			padding: 5px;
			}
	
#footer {	font-size: small;
			text-align: center;
			padding-top: 50px;
			clear: left;
}

	.date-header {
		font-size: small;
	}
	
	.post-title {
		font-size: x-small;
                font-weight: bold;
	}
        .post-body {
                font-size: x-small; 
        }
        .post-footer {
                font-size: xx-small;
}
/*end  main page styles*/

.sidebar {	float: right;
						width: 200px;
						padding: 20px 0px 20px 20px;
						font-size: small;
						clear: right;
}


.main		{	margin-right: 230px;
				padding-right: 40px;
				/*border-right: dashed gray;*/
}


.pagename	{	position: relative;
				bottom: 100px;
				right: 15px;
				border-left: dashed gray;
				width: 275px;
				padding: 15px 15px 100px 15px;
}


.issue	{
	border-bottom: solid;
	overflow: auto;
}

.coverthumb	{	float: right;
			 }

.sidebar.coverthumb	{
	float: none;
	text-align: center;
			}

.blurb	{margin-right: 150px;
}

.isnumber 	{	font-size: large;
}
.isdate		{	color: gray;
}

.author	{line-height: 150%;}
				